@page
@model aspnet_core_dotnet_core.Pages.GetAllMovies

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <title>The list with all movies from the database</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movies[0].movieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movies[0].movieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movies[0].movieYear)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.movieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieYear)
            </td>
        
        </tr>
    }
    </tbody>
</table>

</body>
</html>